html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("SoundCloud.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}

input[type="checkbox"] {
    display: none;   
    position: relative;
}

nav label {
    position: absolute;
    box-sizing: border-box;
    display: inline-block;
    border: none;
    color: white;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    visibility: hidden;
}

.container {
    width: 100%;
    height: 30px;
    position: relative;
    z-index: 20;
}

.navbar {
    width: 100%;
    margin: 0;
    position: fixed;
    background: #ff4301;
}

.navbar__container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, auto) 215px;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.navbar__container a {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    opacity: 0.6;
    transition: 0.5s;
}

#login a {
    font-size: 12px;
}

#home {
    width: 100%;
    height: 100%;
    background: #4a3f35;
}

#login {
    width: 100%;
    height: 100%;
    background: #4a3f35;
    font-size: 12px;
    display: inline-flex;
}

.portada {
    background: url("portada.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}

img {
    width: 100%;
    height: 100%;
}

.lista-productos {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
}

.newCard {
    background: white;
    border-radius: 10px 10px;
    box-shadow: 2px 2px gray;
    width: 200px;
    height: 300px;
    text-align: center;
    margin: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.newCard img {
    width: 170px;
    height: 170px;
    margin: 10px 10px;
    border-radius: 10px 10px;
}

article {
    font-size: 20px;
    font-style: italic;
    font-weight: 100;
    padding: 15px;
    margin: 10px;
}

p {
    margin: 0;
    padding: 5px;
    font-size: 12px;
}

button {
    background: #fa7d09;
    color: white;
    margin-bottom: 10px;
    border-radius: 10px 10px;
    border: none;
    padding: 5px 10px;
    opacity: 0.6;
    transition: 0.5s;
}

button:hover {
    opacity: 1;
}

.lista-filtros {
    width: 100%;
    height: 300px;
}

.contacto button {
    margin-top: 20px;
}

.navbar__container a:hover {
    opacity: 1;
    background: #fa7d09;
}

.secciones a:hover, .redes li:hover {
    opacity: 0.5;
}

#lista-lubricantes .lista-productos img {
    width: 300px;
    height: 150px;
}

h1 {
    text-align: center;
    color: white;
    margin: 20px 0 10px 0;
}

li img:hover {
    transform: scale(1.05,1.05);
}

img[src="logo.png"] {
    border-radius: 75% 75%;
    width: 270px;
    height: 117px;
    padding: 40px 10px;
    position: absolute;
    z-index: 0;
}

.contacto {
    color: white;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto input, textarea {
    border-radius: 8px;
    border: none;
    padding-left: 10px;
}

.contacto textarea {
    width: 300px;
    padding-left: 10px;
    margin-top: 10px;
    resize: none;
    padding-top: 10px;
}

.footer {
    width: 100%;
    height: 200px;
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-start;
}

h4 {
    margin-bottom: 0;
    font-size: 12px;
}

.redes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}

.lista-secciones {
    padding: 0;
}

.secciones {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.secciones a {
    text-decoration: none;
    color: white;
}

.fiscal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista-ubicacion {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.lista-ubicacion ion-icon {
    width: 20px;
    height: 20px;
}

#login {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#login ion-icon {
    width: 20px;
    height: 20px;
    padding-right: 10px;
    color: white;
    opacity: 0.6;
}

li p {
    display: inline;
    align-items: center;
    font-size: 11px;
}
.redes li {
    list-style: none;
    margin: 0;
}

#instagram {
    margin: 0 20px;
}

.redes a:visited {
    text-decoration: none;
    color: white;
}

.redes ion-icon {
    width: 25px;
    height: 25px;
}

#afip {
    width: 80px;
    height: 120px;
    position: relative;
    margin-top: 20px;
}

input {
    width: 350px;
    margin: 10px;
    padding: 5px;
}

#enviar {
    background: #ff4301;
    color: white;
    border-radius: 10px 10px;
    padding: 10px;
    width: 365px;
}

#mensaje {
    width: 350px;
    height: 200px;
}

@media screen and (max-width: 900px) {

    .navbar__container li {
        height: 100%;
        width: 100%;
        background: #2f2519;
    }

    .container ul {
        display: none;
    }

    input:checked  ~ .navbar__container {
        display:block;
    }

    nav label {
        visibility: visible;
        position: relative;
    }

    .navbar {
        background-color: rgba(0, 0, 0, 0.1);
    }

    /*.navbar__container {
        display: block;
    }*/

    .lista-productos {
        flex-direction: column;
        align-items: center;
    }
    .container {
        height: 180px;
    }

    img[src="logo.png"] {
        transform: scale(0.5);
        padding: 6px;
        margin: 0;
    }   

    h1 {
        font-size: 25px;
    }

    article {
        font-size: 15px;
    }

    .redes {
        display: block;  
    }

    #instagram {
        margin: 0;
    }

    .footer h4, .footer ul, footer li {
	transform: scale(0.8);
    }

    .container input {
        padding-left: 30px;
        padding-right: 30px;
        box-sizing: border-box;
    }

}